<div class="page-header row">
	<div class="small-10 columns">
		<h1>Edit Event</h1>
	</div>
</div>
<div class="row">
	<div class="callout" ng-show="alert" ng-class="{success: alert.type == 'success', alert: alert.type == 'error'}">
		<h5>{{ alert.description }}</h5>
		<a ui-sref="eventsList" ng-show="alert.type == 'success'">Return to event listings.</a>
	</div>
</div>
<section class="row">
	<div class="add-form columns small-12">
		<form ng-submit="submitEditForm()">
			<label>Event Name
				<input type="text" id="eventName" placeholder="{{ editForm.title }}" ng-model="editForm.title" required />
			</label>

			<label>Description
				<input type="text" id="eventDesc" placeholder="{{ editForm.description }}" ng-model="editForm.description" />
			</label>

			<label>Category
				<select ng-model="editForm.category">
					<option value="music">Music</option>
					<option value="sports">Sports</option>
					<option value="food">Food</option>
					<option value="other">Other</option>
				</select>
			</label>

			<label>Start Date
				<input type="date" name="startdate" placeholder="{{ editForm.startDate | date: 'yyyy-MM-dd' }}" ng-model="editForm.startDate" required max="{{ editForm.endDate | date: 'yyyy-MM-dd' }}" />
			</label>

			<label>End Date
				<input type="date" name="enddate" placeholder="{{ editForm.endDate | date: 'yyyy-MM-dd' }}" ng-model="editForm.endDate" required min="{{ editForm.startDate | date: 'yyyy-MM-dd' }}" />
			</label>

			<input id="featureEvent" type="checkbox" ng-model="editForm.featured"><label for="featureEvent">Feature This Event</label>

			<button type="submit" class="expanded button" ng-disabled="disabled">
				<span ng-hide="disabled">Update Event</span>
				<span ng-show="disabled">Sending...</span>
			</button>


		</form>
	</div>
</section>

